body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.scholarships-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    max-width: 800px;
}

.scholarship-card {
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: 300px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.scholarship-title {
    font-weight: bold;
    margin-bottom: 5px;
}

.scholarship-description {
    line-height: 1.5;
}

.scholarship-deadline {
    font-style: italic;
    color: #999;
    margin-top: 10px;
}

.h1{
    align-items: center;
}

 /* Style for hidden content (optional) */
 .scholarship-card .hidden-content {
   display: none;
 }